$primary-color: #1db954;
$secondary-color: #191414;

.button {
  background-color: $primary-color;
  border: none;
  border-radius: 50px;
  color: white;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 12px 24px;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: darken($primary-color, 10%);
  }

  &:active {
    background-color: lighten($primary-color, 10%);
  }

  &.secondary {
    background-color: $secondary-color;
    color: $primary-color;

    &:hover {
      background-color: darken($secondary-color, 10%);
    }

    &:active {
      background-color: lighten($secondary-color, 10%);
    }
  }
}