.container {

}

.playlistHeader {
  display: flex;
  padding: 10px;
}

.trackNumber {
}

.trackTitle {
}

.albumName {
}

.dateAdded {
}

.trackLength {
}

@media screen and (max-width: 400px) {
  .trackNumber {
    display: none;
  }
  .albumName {
    display: none;
  }
  .dateAdded {
    display: none;
  }
}