.mediaTrack {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.2s ease;
}

.mediaTrack > * {
  outline: 1px solid red;
}

.trackPlayContainer {
  display: flex;
  justify-content: center;
  width: 20px;
  cursor: pointer;
}

.trackNumber {
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
  font-weight: bold;
  color: #666;
}

.trackPlay {
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.trackPlayIcon {
  font-size: 20px;
  color: #666;
}

.trackPauseIcon {
  font-size: 20px;
  color: #666;
}

.trackImage {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 5px;
}

.trackInfo {
  flex-grow: 1;
  overflow: hidden;
}

.trackName {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.trackArtistName {
  font-size: 14px;
  color: #666;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.albumInfo {
  flex-grow: 1;
  overflow: hidden;
}

.trackAlbumName {
  font-size: 14px;
  color: #666;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.trackName,
.trackArtistName,
.trackAlbumName {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.trackDuration {
  font-size: 14px;
  font-weight: bold;
  color: #666;
}

.trackLike {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: #666;
}

@media screen and (max-width: 768px) {
  .mediaTrack {
    padding-block: 5px;
    cursor: pointer;
  }

  .trackNumber {
    font-size: 0.8rem;
  }

  .trackImage {
    width: 40px;
    height: 40px;
  }

  .trackName {
    font-size: 14px;
  }

  .trackArtistName {
    font-size: 12px;
  }

  .trackAlbumName {
    display: none;
  }

  .trackLength {
    font-size: 12px;
  }

  .trackLike {
    font-size: 16px;
  }
}
