.mainNav {
  display: flex;
  height: auto;
  justify-content: space-evenly;
  align-items: center;
}

.bottomNavAction {
  display: flex;
  min-width: 0;
  padding-block: 1rem;
}

.icon {
  font-size: 24px;
}