.main {
  height: 100vh;
  padding-block: 1rem 3.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 5rem;
}

// .slider {
//   display: flex;
//   justify-content: center;
// }

// .subscribe {
//   display: flex;
//   justify-content: end;
// }
